torch
torchvision
medmnist
wandb
torcheval
opencv-python
albumentations
pydicom
tqdm
lightning[pytorch-extra]
lifelines
torchio
confidenceinterval
pymssql
einops
pykeops
jsonargparse[signatures]>=4.27.7
ace_tools
matplotlib-venn